*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(images/nissa.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 8% 0 8%;
}
.logo {
    color: #fafafa;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: #20b2aa;
}
nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover {
    color: #20b2aa;
    transition: .4s;
}
.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: #fff;
    font-size: 75px;
    margin: 10px 0px 10px;
}
h3 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 50px;
}
h4 {
    color: #20b2aa;
    letter-spacing: 2px;
    font-size: 20px;
}
.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;

}

.about img{
    height: auto;
    width: 430px;
}
.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 75px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text h5{
    color: #20b2aa;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p {
    color: #fcfcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;

} 
.project {
    background: #191919;
    width: 100%;
    padding: 100px 0;
}
.title h2{
    color: #fff;
    font-size: 75px;
    width: 1130px;
    text-align: center;
    margin: auto;
}
/* Portofolio */
#portofolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5%;
}
.layer{
    color: #fff;
    font-style: italic;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #20b2aa);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #20b2aa;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    border-radius: 50%;
    text-align: center;
}
.about-text p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

/* contact */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p {
    margin-top: 30px;
    color: #fcfcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.contact-left p i{
    color: #20b2aa;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
}
.social-icons a:hover{
    color: #20b2aa;
    transform: translateY(-5px);
} 